/* .positioning {
    background-image: url('../../../public/images/class/body-positioning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: left;
    height: 90%;
    width: 90%;
    position: relative;
} */