.positioning {
    background-image: url('../images/class/positioning-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: left;
    height: 90%;
    width: 90%;
    position: relative;
}